@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Regular.otf');
}
@font-face {
    font-family: MetropolisBold;
    src: url('/fonts/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: MetropolisThin;
    src: url('/fonts/Metropolis-Thin.otf');
}
:root{
    --color-texto-2: #de0048;
}
body{
    background-color: #212121;
}
.navbar{
    font-family: MetropolisBold;
}
.nav-item.active .fa-home{

    color:var(--color-texto-2);
}
.nav-item.active .nav-link{
    color:var(--color-texto-2) !important;
}
.nav-item.active .fa-home:hover{
    color:var(--color-texto-2);
}
.nav-item .nav-link:hover{
    color:var(--color-texto-2) !important;
}
.nav-item .nav-link.btn{
    border-color:var(--color-texto-2);
    color: var(--color-texto-2);
}
.nav-item .nav-link.btn:hover{
    background-color: var(--color-texto-2);
    color:white !important;
}
.nav-item .dropdown-menu .dropdown-item{
    font-family: Metropolis !important;
}
.nav-item .dropdown-menu #logoff{
    background-color: var(--color-texto-2);
    color: white;
}
.nav-item .dropdown-menu #logoff:hover{
    background-color: #ff7da6;
    color: white;
}
.form-control{
    font-family: Metropolis;
}

a{
    text-decoration: none !important;
}
/*LANDING*/
.SliderReseñas{
    display: none;
  }
.SliderReseñas.slick-initialized{
    display: block;
}

.slick-prev:before, .slick-next:before{
    font-size: 50px;
    color: var(--color-texto-2);
}

.slick-prev {
    left: 60px;
    z-index: 1;
}

.slick-next {
    right: 60px;
}

.SliderReseñas{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.SliderReseñas img:hover{
    transform: translateY(-5px);
}

.card{
    width: 100%;
    background-color: transparent;
    color:#ffffff !important;
}
.card .imgPost{
    height: 512px;
    object-fit: cover;

}
.card .gradient:before{
    content: '';
    position:absolute;
    top:-25%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(33,33,33,1) 80%);
    z-index: 1;
}
.col-md-9 .card-body{
    z-index: 2;
}
.card.card-gris{
    background-color: #2e2e2e;
}
.col-md-8 .card-body{
    padding-left: 50px;
    padding-right: 50px;

}
.card-titulo{
    text-transform: uppercase;
    font-family: MetropolisBold;
    color:#ffffff !important;
}
.card-titulo:hover{
    color:var(--color-texto-2) !important;
}
.card-autorFecha{
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    line-height: 30px;
    color:#ffffff !important;
    text-transform: uppercase;
    font-family: MetropolisBold;
    font-size: 20px;
}
.card-autor{
    background-color: rgba(255, 255, 255, 0.2);
    color:#212121 !important;
    padding: 5px 10px;
    margin-right: 4px;
}
.card-autor a{
    color:#ffffff !important;
}
.card-autor a:hover{
    color:var(--color-texto-2) !important;
}
.card-comentarios{
    background-color: rgba(255, 255, 255, 0.2);
    color:#ffffff !important;
    padding: 5px 10px;
    margin-right: 4px;
}
.card-fecha{
    color: rgba(255, 255, 255, 0.2);
}
.card-text{
    font-family: Roboto;
    font-size: 21px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 20px;
}
/*SECCION*/
.titulo-seccion{
    font-family: MetropolisBold;
    color:#ffffff;
    text-transform: uppercase;
}
.page-item .page-link.active{
    background-color: var(--color-texto-2);
}

/*LOGIN-REGISTRO*/
.card.login-reg{
    background-color: white;
    color: black !important;
    font-family: Roboto;
    border:none;
}
.card.login-reg .card-header{
    font-family: MetropolisBold;
    background: var(--color-texto-2);
    color: white;
}
.card.login-reg .card-body .form-group .btn{
    font-family: MetropolisBold;
    background-color: var(--color-texto-2);
    color: white;
}
.card.login-reg .card-body .form-group .btn:hover{
    background-color: #19ca33;
}

/*DETALLE*/
.detalle-contenido{
    font-family: Roboto;
}

#NuevoComentario{
    width: 100%;
}
button[type=submit] i.fa-comment-dots:hover{
    color: var(--color-texto-2);
}
.comentario{
    background-color: #212121; color:white; border-radius:15px;
    font-family: Roboto;
}
.categoria{
    color: var(--color-texto-2);
    font-family: MetropolisBold;
    display: inline;
}
.categoria:hover{
    color: #c74b72;
}
/*REDACTAR*/
.c-detalle{
    font-family: Roboto;
}
.input-multimedia{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-multimedia + label {

    cursor: pointer;
    display: block;
    border: 3px solid;
    border-radius: 25px;
}
.input-multimedia:focus + label,
.input-multimedia+label:hover{
    background-color: var(--color-texto-2) !important;
    color: whitesmoke;
}

.btn-submit#terminarNota,#guardarNota{
    font-family: MetropolisBold;
    font-size: 25px;
    border-radius: 50px;
    margin-top: 15px;
}
#terminarNota{
    background-color: var(--color-texto-2);
    color: white;
    margin-right: 15px !important;
}
#guardarNota{
    border: var(--color-texto-2) solid 5px;
    color: var(--color-texto-2);
    margin-left: 15px !important;
}
.img-slide{
    height: 512px;
    object-fit: cover;
}

#toast-container{
    font-family: MetropolisBold;
}
.toast-success{background: #1bb630;}
#error{background: red;}
#warning{background: coral;}
#info{background: cornflowerblue;}
#question{background: grey;}
