@font-face {
    font-family: Metropolis;
    src: url('/fonts/Metropolis-Regular.otf');
}
@font-face {
    font-family: MetropolisBold;
    src: url('/fonts/Metropolis-ExtraBold.otf');
}
@font-face {
    font-family: MetropolisThin;
    src: url('/fonts/Metropolis-Thin.otf');
}
:root{
    --color-texto-2: #de0048;
    --color-azul:#0148fb;
}
body{
    background-color: #212121;
}
.navbar{
    font-family: MetropolisBold;
}
.nav-item.active .fa-home{

    color:var(--color-texto-2);
}
.nav-item.active .nav-link{
    color:var(--color-texto-2) !important;
}
.nav-item.active .fa-home:hover{
    color:var(--color-texto-2);
}
.nav-item .nav-link:hover{
    color:var(--color-texto-2) !important;
}
.nav-item .nav-link.btn{
    border-color:var(--color-texto-2);
    color: var(--color-texto-2);
}
.nav-item .nav-link.btn:hover{
    background-color: var(--color-texto-2);
    color:white !important;
}
.nav-item .dropdown-menu .dropdown-item{
    font-family: Metropolis !important;
}
.nav-item .dropdown-menu #logoff{
    background-color: var(--color-texto-2);
    color: white;
}
.nav-item .dropdown-menu #logoff:hover{
    background-color: #ff7da6;
    color: white;
}
.dropdown-item:active{
    background-color: var(--color-texto-2);
    color: white;
}
.form-control{
    font-family: Metropolis;
}

a{
    text-decoration: none !important;
}
i.submit:hover{
    cursor: pointer;
}
.navbar-foto{
    border-radius:50%;
    object-fit: cover;
    width: 42px;
    height: 42px;
}
.foto-perfil{
    border-radius:50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}
/*LANDING*/
.reseñas-contenedor{
    background-color: #000000;
    color: #ffffff;
}
.reseñas-contenedor h1{
    font-family: MetropolisBold;
    margin-top: 15px;
}
.row.no-gutters h1.container{
    font-family: MetropolisBold;
    color: #ffffff;
    margin-bottom: 15px;
}
.SliderReseñas{
    display: none;
}
.SliderReseñas.slick-initialized{
    display: block;
}

.slick-prev:before, .slick-next:before{
    font-size: 50px;
    color: var(--color-texto-2);
}

.slick-prev {
    left: 60px;
    z-index: 1;
}

.slick-next {
    right: 60px;
}

.SliderReseñas{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}
.SliderReseñas .reseña-item:hover{
    transform: translateY(-5px);
}

.reseña-item{
    position:relative;
    display:inline-block;
}
.reseña-badge{
    position: absolute;
    left:0px;
    z-index: 1;
}
.reseña-imagen{
    object-fit: cover;
    align-self: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.card{
    width: 100%;
    background-color: transparent;
    color:#ffffff !important;
}
.card .imgPost{
    height: 512px;
    object-fit: cover;

}
.card .gradient:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(33,33,33,1) 65%);
    z-index: -1;
}
.col-md-9 .card-body{
    z-index: 2;
}
.card.card-gris{
    background-color: #2e2e2e;
}
.col-md-8 .card-body{
    padding-left: 50px;
    padding-right: 50px;

}
.card-titulo{
    text-transform: uppercase;
    font-family: MetropolisBold;
    color:#ffffff !important;
}
.card-titulo:hover{
    color:var(--color-texto-2) !important;
}
.card-autorFecha{
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    line-height: 30px;
    color:#ffffff !important;
    text-transform: uppercase;
    font-family: MetropolisBold;
    font-size: 20px;
}
.card-autor{
    background-color: rgba(255, 255, 255, 0.2);
    color:#212121 !important;
    padding: 5px 10px;
    margin-right: 4px;
}
.card-autor a{
    color:#ffffff !important;
}
.card-autor a:hover{
    color:var(--color-texto-2) !important;
}
.card-comentarios{
    background-color: rgba(255, 255, 255, 0.2);
    color:#ffffff !important;
    padding: 5px 10px;
    margin-right: 4px;
}
.card-fecha{
    color: rgba(255, 255, 255, 0.2);
}
.card-text{
    font-family: Roboto;
    font-size: 21px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 20px;
}
/*SECCION*/
.titulo-seccion{
    font-family: MetropolisBold;
    color:#ffffff;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 8px;
}
.page-item .page-link.active{
    background-color: var(--color-texto-2);
}

/*LOGIN-REGISTRO*/
.card.login-reg{
    background-color: white;
    color: black !important;
    font-family: Roboto;
    border:none;
}
.card.login-reg .card-header{
    font-family: MetropolisBold;
    background: var(--color-texto-2);
    color: white;
}
.card.login-reg .card-body .form-group .btn{
    font-family: MetropolisBold;
    background-color: var(--color-texto-2);
    color: white;
}
.card.login-reg .card-body .form-group .btn:hover{
    background-color: #19ca33;
}

/*DETALLE*/
.detalle-contenido{
    font-family: Roboto;
}

#NuevoComentario{
    width: 100%;
}
button[type=submit] i.fa-comment-dots:hover{
    color: var(--color-texto-2);
}
.comentario{
    background-color: #212121; color:white; border-radius:15px;
    font-family: Roboto;
}
.categoria{
    color: var(--color-texto-2);
    font-family: MetropolisBold;
    display: inline;
}
.categoria:hover{
    color: #c74b72;
}
/*REDACTAR*/
.c-detalle{
    font-family: Roboto;
}
.input-multimedia{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.input-multimedia + label {

    cursor: pointer;
    display: block;
    border: 3px solid;
    border-radius: 25px;
}
.input-multimedia:focus + label,
.input-multimedia+label:hover{
    background-color: var(--color-texto-2) !important;
    color: whitesmoke;
}

.btn-submit#publicarNota,#guardarNota,#eliminarNota{
    font-family: MetropolisBold;
    font-size: 25px;
    border-radius: 50px;
    margin-top: 15px;

    border: var(--color-texto-2) solid 5px;
    color: var(--color-texto-2);
    margin-left: 15px !important;
}
#publicarNota:hover,#guardarNota:hover,#eliminarNota:hover{
    background-color: var(--color-texto-2);
    color: white;
}
#terminarNota{
    background-color: var(--color-texto-2);
    color: white;
    margin-right: 15px !important;
}
.img-slide{
    height: 512px;
    object-fit: cover;
}

#toast-container{
    font-family: MetropolisBold;
}
.toast-success{background: #1bb630;}
.toast-error{background: var(--color-texto-2);}

/*PERFIL*/
.list-group-item.active{
    background-color: var(--color-texto-2);
    border: var(--color-texto-2);
}
.perfilAlert{
    font-family: Metropolis;
    color: var(--color-texto-2);
}

.reseña-item + p{
    text-align: center;
    padding: 5px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--color-texto-2);
    z-index: 2;
  }
  .reseña-item:hover .overlay {
    opacity: 1;
  }
.text {
    color: white;
    font-size: 20px;
    font-family: Metropolis;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/*EDITAR*/
.imagenEliminar{
    margin-top: 8px;
    border: #212121 2px solid;
    background-color: white;
    font-family: Metropolis;
}
.imagenEliminar:hover{
    background-color: var(--color-texto-2);
    border: var(--color-texto-2) 2px solid;
    color: white;
}
